USE [InventarioTransaccionesDB]
GO
/****** Object:  Table [dbo].[Transacciones]    Script Date: 02/10/2025 22:19:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transacciones](
	[Id] [uniqueidentifier] NOT NULL,
	[TipoTransaccion] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaModificacion] [datetime2](7) NOT NULL,
	[FechaEliminacion] [datetime2](7) NULL,
	[Activo] [bit] NOT NULL,
	[IdProducto] [uniqueidentifier] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Detalle] [nvarchar](500) NULL,
	[PrecioTotal] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Transacciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Transacciones] ADD  DEFAULT ((0.0)) FOR [PrecioTotal]
GO
